html,
body {
  font-size: 15px;
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FFFFFF;
  margin: 0px;
  padding: 0px;
  color: #555555;
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

#navbar {
  margin: 0;
}

#form-column {
  background-color: #333;
  margin: 0;
}

#map-column {
  margin: 0;
  padding: 0;
}

#map {
  background-color: #fff;
  height: 100%;
  margin: 0;
  padding: 0;
}

.ui.menu {
  border-radius: 0;
}

.ui.form {
  padding-top: 24px;
}

.ui.form .dropdown {
  margin-bottom: 12px;
}

#visualize-submit {
  display: block;
  margin-top: 12px;
}

/* Temporary */

.point {
  opacity: 0.2;
  fill: #0AA5DF;
}